.experience-title {
  background-color: #212121;
}

.title-content {
  text-align: center;
  margin-top: 35px;
}

.title-content h1 {
  font-size: 45px;
  letter-spacing: 15px;
  color: #ffffff;
}

.fishbowl-date {
  margin: 5px 0 0 0;
  padding-bottom: 15px;
}
.fishbowl-title {
  margin: 15px 0 0 0;
  height: 45px;
  padding-right: 10px;
}
.header-row {
  height: 45px;
}
.label-one,
.label-two,
.label-three{
  margin-top: 25px;
  border-left: 2px solid #009688;
  height: 20px
}
.label-one h4,
.label-two h4,
.label-three h4 {
  margin: 0 5px 0 5px ;
}
.chip {
  border: 2px solid #009688;
  border-radius: 5px;
  padding: 5px;
  margin-left: 5px;
}
.task-list {
  margin-top: 10px;
}
.framework-item {
  margin-left: 15px;
}
md-card.mat-card {
  margin-top: 25px;
}
.fishbowl-card {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: url(../../assets/fishbowl_logo.png) no-repeat #212121;
  background-size: 75%;
  background-position: 20px 15px;
}
.to-technology button {
  margin-top: 25px;
  background-color: #212121;
  font-size: 20px;
  color: #ffffff;
  height: 45px;
  width: 185px;
  border-left: 10px solid #9e9e9e;
  bottom: 0;
}
.to-technology button md-icon {
  color: #009688;
}
.to-technology button:hover {
  border-bottom: 4px solid #009688;
}
