<div class="flex-layout" fxLayout="column">
  <div class="title" fxLayout="row" fxLayoutAlign="center">
  <div class="experience-title">
    <h1 class="animated fadeInDown">Experience</h1>
  </div>
  </div>
  <div class="experience-content" fxLayout="row" fxFlex>

  </div>
  <div class="to-technology" fxLayout="row" fxLayoutAlign="end">
    <button md-raised-button [routerLink]="['/technology']" class="footer animated bounceInUp">Technology
      <i ng-font-set="material-icons" class="material-icons md-36 md-light">keyboard_arrow_right</i>
    </button>
  </div>
</div>
