.technology-title {
  background-color: #212121;
}

.title-content {
  text-align: center;
  margin-top: 35px;
}

.title-content h1 {
  font-size: 45px;
  letter-spacing: 10px;
  color: #ffffff;
}
h1 {
  letter-spacing: 7px;
}
.card-row-height {
  min-height: 215px;
}
.language-row {
  min-height: 215px;
}
.card-row-margin {
  margin-top: 25px;
}
.tech-card {
  border-bottom: 2px solid #D50000;
  min-height: 216px;
  max-height: 216px;
}
md-card-title {
  text-align: center;
}
.card-width {
  min-width: 145px;
}
md-divider {
  margin-top: 35px;
  background-color: #000000;
}
.no-margin {
  margin-bottom: 4px;
}

