<div class="flex-layout" fxLayout="column">
  <!-- Title -->
  <div class="technology-title" fxLayout="row" fxLayoutAlign="center center" fxFill>
    <div class="title-content">
      <h1 class="animated fadeInDown">Technology</h1>
    </div>
  </div>

  <!-- Content -->
  <div class="technology-content" fxLayout="row" fxLayoutAlign="center center" fxFill>
    <md-card class="card-margin" fxFlex="80" fxLayout="column" fxLayoutAlign="center center">
      <!-- Languages -->
      <div fxLayout="column">
        <div fxlayout="row" fxLayoutAlign="center center">
          <h1>Languages</h1>
        </div>
        <div fxlayout="row" fxLayout.xs="column" class="card-row-height animated slideInUp" fxLayoutAlign="center center">
          <!-- Javascript -->
          <md-card fxFlex="10" class="tech-card card-width">
            <img md-card-image src="../../assets/javaScript.png"/>
            <md-card-title fxLayoutAlign="center center">
              JavaScript
            </md-card-title>
          </md-card>

          <!-- TypeScript -->
          <md-card fxFlex="10" class="tech-card card-width">
            <img md-card-image src="../../assets/typeScript.png"/>
            <md-card-title>
              TypeScript
            </md-card-title>
          </md-card>

          <!-- Html -->
          <md-card fxFlex="10" class="tech-card card-width">
            <img md-card-image src="../../assets/html.png"/>
            <md-card-title fxLayoutAlign="center center">
              Html
            </md-card-title>
          </md-card>

          <!-- CSS -->
          <md-card fxFlex="10" class="tech-card card-width">
            <img md-card-image src="../../assets/css.png"/>
            <md-card-title fxLayoutAlign="center center">
              Css
            </md-card-title>
          </md-card>

          <!-- Java -->
          <md-card fxFlex="10" class="tech-card card-width">
            <img md-card-image src="../../assets/java.png"/>
            <md-card-title fxLayoutAlign="center center">
              Java
            </md-card-title>
          </md-card>

          <!-- C# -->
          <md-card fxFlex="10" class="tech-card card-width">
            <img md-card-image src="../../assets/cSharp.png"/>
            <md-card-title fxLayoutAlign="center center">
              C#
            </md-card-title>
          </md-card>
        </div>
        <md-divider></md-divider>
      </div>

      <!-- Preprocessors -->
      <div fxLayout="column" class="card-row-margin animated slideInUp">
        <div fxLayout="row" fxLayoutAlign="center center">
          <h1>Preprocessors</h1>
        </div>
        <div fxLayout="row" class="card-row-height" fxLayoutAlign="center center">
          <!-- stylus -->
          <md-card fxFlex="10" class="tech-card card-width">
            <img md-card-image src="../../assets/stylus.png"/>
            <md-card-title fxLayoutAlign="center center">
              Stylus
            </md-card-title>
          </md-card>

          <!-- Sass -->
          <md-card fxFlex="10" class="tech-card card-width">
            <img md-card-image src="../../assets/sass.png"/>
            <md-card-title fxLayoutAlign="center center">
              Sass
            </md-card-title>
          </md-card>

          <!-- Babel -->
          <md-card fxFlex="10" class="tech-card card-width">
            <img md-card-image src="../../assets/babel.png"/>
            <md-card-title fxLayoutAlign="center center">
              Babel
            </md-card-title>
          </md-card>
        </div>
        <md-divider></md-divider>
      </div>

      <!-- Frameworks -->
      <div fxLayout="column" class="card-row-margin animated slideInUp">
        <div fxLayout="row" fxLayoutAlign="center center">
          <h1>Frameworks</h1>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" class="card-row-height">
          <!-- Angular -->
          <md-card fxFlex="10" class="tech-card card-width">
            <img md-card-image src="../../assets/angularJs.png"/>
            <md-card-title fxLayoutAlign="center center">
              Angular
            </md-card-title>
          </md-card>

          <!-- Angular 2 -->
          <md-card fxFlex="10" class="tech-card card-width">
            <img md-card-image src="../../assets/angularJs.png"/>
            <md-card-title fxLayoutAlign="center center">
              Angular2
            </md-card-title>
          </md-card>

          <!-- Angular Material -->
          <md-card fxFlex="10" class="tech-card card-width">
            <img md-card-image src="../../assets/angularJs.png"/>
            <md-card-title fxLayoutAlign="center center">
              Material
            </md-card-title>
          </md-card>

          <!-- jQuery -->
          <md-card fxFlex="10" class="tech-card card-width">
            <img md-card-image src="../../assets/jQuery.png"/>
            <md-card-title fxLayoutAlign="center center">
              jQuery
            </md-card-title>
          </md-card>
        </div>
        <md-divider></md-divider>
      </div>

      <!-- Tools -->
      <div fxLayout="column" class="card-row-margin">
        <div fxLayout="row" fxLayoutAlign="center center">
          <h1>Tools</h1>
        </div>
        <div fxLayout="row" class="card-row-height" fxLayoutAlign="center center">
          <!-- Intellij -->
          <md-card fxFlex="10" class="tech-card card-width">
            <img md-card-image src="../../assets/intellij.png"/>
            <md-card-title fxLayoutAlign="center center">
              Intellij
            </md-card-title>
          </md-card>

          <!-- Visual Studio -->
          <md-card fxFlex="10" class="tech-card card-width">
            <img md-card-image src="../../assets/visualStudio.png"/>
            <md-card-title fxLayoutAlign="center center">
              Vis. Studio
            </md-card-title>
          </md-card>

          <!-- VS Code -->
          <md-card fxFlex="10" class="tech-card card-width">
            <img md-card-image src="../../assets/vsCode.png"/>
            <md-card-title fxLayoutAlign="center center">
              Vs Code
            </md-card-title>
          </md-card>

          <!-- Gulp -->
          <md-card fxFlex="10" class="tech-card card-width">
            <img md-card-image src="../../assets/gulp.png"/>
            <md-card-title fxLayoutAlign="center center">
              Gulp
            </md-card-title>
          </md-card>

          <!-- Sublime -->
          <md-card fxFlex="10" class="tech-card card-width">
            <img md-card-image src="../../assets/sublime.png"/>
            <md-card-title fxLayoutAlign="center center">
              Sublime
            </md-card-title>
          </md-card>
        </div>
        <md-divider></md-divider>
      </div>

      <!-- Design -->
      <div fxLayout="column" class="card-row-margin">
        <div fxLayout="row" fxLayoutAlign="center center">
          <h1>Design</h1>
        </div>
        <div fxLayout="row" class="card-row-height" fxLayoutAlign="center center">
          <!-- Photoshop -->
          <md-card fxFlex="10" class="tech-card card-width">
            <img md-card-image src="../../assets/photoshop.png"/>
            <md-card-title fxLayoutAlign="center center">
              Photoshop
            </md-card-title>
          </md-card>

          <!-- Premiere Pro -->
          <md-card fxFlex="10" class="tech-card card-width">
            <img md-card-image src="../../assets/premierePro.png"/>
            <md-card-title fxLayoutAlign="center center">
              Premiere
            </md-card-title>
          </md-card>

          <!-- Cinema 4D -->
          <md-card fxFlex="10" class="tech-card card-width">
            <img md-card-image src="../../assets/cinema4d.png"/>
            <md-card-title fxLayoutAlign="center center">
              Cinema 4d
            </md-card-title>
          </md-card>
        </div>
      </div>
    </md-card>
  </div>
</div>
