.flex-layout {
  height: 100%;
}
md-sidenav-container {
  height: 100%;
}
md-sidenav {
  width: 300px;
  height: 100%;
}
.nav-header {
  border-bottom: 2px solid #D50000;
  height: 70px;
}
.nav-header-text {
  letter-spacing: 7px;
}
.nav-header h1 {
  color: #ffffff;
  margin-left: 15px;
}
md-toolbar {
  background-color: #000000;
}
.nav-item {
  font-size: 30px;
  color: #ffffff;
}
.router-link-active {
  background-color: rgba(189,189,189,.4);
  border-right: 2px solid #D50000;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.26);
}
.nav-item-padding {
  padding-top: 7px;
  padding-bottom: 7px;
}
md-sidenav.side-menu {
  height: 100% !important;
  background-color: #000000
}
