.profile-title {
  background-color: #212121;
}
.title-content {
    text-align: center;
    margin-top: 35px;
  }
.title-content h1 {
    font-size: 45px;
    letter-spacing: 10px;
    font-feature-settings: "liga" 0;
    color: #ffffff;
}
.profile-picture {
  background: url(../../assets/profile.jpg);
  background-repeat: no-repeat;
  border-radius: 125px;
  border: 10px solid #D50000;
  background-size: 100%;
  width: 200px;
}
.picture-padding {
  padding-bottom: 170px;
}
.profile-name {
  font-size: 25px;
  letter-spacing: 5px;
}
.profile-card-margin {
  margin-top: 25px;
}

