<div class="flex-layout" fxLayout="column">
  <!-- Title -->
  <div class="profile-title" fxLayout="row" fxLayoutAlign="center" fxFill>
    <div class="title-content">
      <h1 class="animated fadeInDown" fxFlex>Profile</h1>
    </div>
  </div>

  <!-- Content -->
  <div class="profile-content" fxLayout="row" fxLayoutAlign="center" fxFill>
    <md-card fxFlex="50">
      <md-card-header fxLayout="row" fxLayoutAlign="center center">
        <div md-card-avatar class="profile-picture"></div>
        <h1>Timothy Cluff</h1>
      </md-card-header>
      <md-card-content>

      </md-card-content>
    </md-card>
  </div>
</div>


