<div class="flex-layout" fxLayout="column">
  <div class="title" fxLayout="row" fxLayoutAlign="center">
    <div class="profile-title">
      <h1 class="animated fadeInDown">Profile</h1>
    </div>
  </div>
  <div class="profile-content" fxLayout="row" fxFlex>

  </div>
  <div class="to-experience" fxLayout="row" fxLayoutAlign="end">
    <button md-raised-button [routerLink]="['/experience']" class="footer animated bounceInUp">Experience
      <i ng-font-set="material-icons" class="material-icons md-36 md-light">keyboard_arrow_right</i>
    </button>
  </div>
</div>
