.profile-title {
  background-color: #212121;
}
.title-content {
    text-align: center;
    margin-top: 35px;
  }
.title-content h1 {
    font-size: 45px;
    letter-spacing: 10px;
    font-feature-settings: "liga" 0;
    color: #ffffff;
}
.to-experience button {
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #212121;
  font-size: 20px;
  color: #ffffff;
  height: 45px;
  width: 175px;
  border-left: 10px solid #9e9e9e;
  bottom: 0;
}
.to-experience button md-icon {
  color: #009688;
}
.to-experience button:hover {
  border-bottom: 4px solid #009688;
}
.profile-picture {
  background: url(../../assets/profile.jpg);
  border-radius: 90px;
  min-height: 170px;
  min-width: 170px;
  border: 10px solid #009688;
  background-size: 100%;
}
.profile-name {
  font-size: 25px;
  letter-spacing: 5px;
}
md-card {
  margin-top: 25px;
}
.name-label,
.birthday-label,
.titles-label,
.locations-label {
  margin-right: 15px;
}
.name-label {
  margin-top: 25px;
}
.birthday-label {
  margin-top: 35px;
}
.titles-label {
  margin-top: 50px;
}
.locations-label {
  margin-top: 55px;
}
.name-divider,
.birthday-divider,
.titles-divider,
.locations-divider {
  height: 35px;
  width: 2px;
  background-color: #009688;
  margin-right: 15px;
}
.name-divider {
  margin-top: 20px;
}
.birthday-divider {
  margin-top: 30px;
}
.titles-divider {
  margin-top: 45px;
}
.locations-divider {
  margin-top: 50px;
}
md-card.mat-card {
  min-width: 375px;
}


