.profile-title {
  background-color: #212121;
}
.title-content {
    text-align: center;
    margin-top: 35px;
  }
.title-content h1 {
    font-size: 45px;
    letter-spacing: 10px;
    font-feature-settings: "liga" 0;
    color: #ffffff;
}
.profile-picture {
  background: url(../../assets/profile.jpg);
  border-radius: 90px;
  min-height: 170px;
  min-width: 170px;
  border: 10px solid #D50000;
  background-size: 100%;
}
.profile-name {
  font-size: 25px;
  letter-spacing: 5px;
}
md-card {
  margin-top: 25px;
}
.name-label,
.birthday-label,
.titles-label,
.locations-label {
  margin-right: 15px;
}
.name-label {
  margin-top: 25px;
}
.birthday-label {
  margin-top: 35px;
}
.titles-label {
  margin-top: 50px;
}
.locations-label {
  margin-top: 55px;
}
.name-divider,
.birthday-divider,
.titles-divider,
.locations-divider {
  height: 35px;
  width: 2px;
  background-color: #D50000;
  margin-right: 15px;
}
.name-divider {
  margin-top: 20px;
}
.birthday-divider {
  margin-top: 30px;
}
.titles-divider {
  margin-top: 45px;
}
.locations-divider {
  margin-top: 50px;
}
md-card.mat-card {
  min-width: 375px;
}


