/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}
.spacer {
  flex: 1 1 auto;
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Roboto',SansSerif;
}
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.title {
  background: rgb(158,158,158);
}
.mat-sidenav-content {
  background-color: #424242;
}
.flex-layout {
  overflow: hidden;
}
.card-margin {
  margin-top: 25px;
}
.card-border {
  border-bottom: 2px solid #D50000;
}
.mat-list-item-content {
  padding: 0 !important;
}
.margin-top {
  margin-top: 18px !important;
}
.margin-bottom {
  margin-top: 18px !important;
}
.nav-button {
  margin-bottom: 18px !important;
}
.nav-button button {
  background-color: #212121;
  font-size: 20px;
  color: #ffffff;
  height: 45px;
  width: 195px;
  border-left: 10px solid #9e9e9e;
}
.nav-button button md-icon {
  color: #D50000;
}
.nav-button button:hover {
  border-bottom: 4px solid #D50000;
}
.no-wrap {
  white-space: nowrap;
}
.red-color {
  color: #D50000;
}
.left-align {
  text-align: left;
}
.right-align {
  text-align: right;
}
.center-align {
  text-align: center;
}
