.flex-layout {
  height: 90%;
  overflow: hidden;
}
.divider {
  width: 40%;
  height: 2px;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #D50000;
  opacity: 0.7;
}
.name-text {
  text-align: center;
  margin-top: 95px;
}
.name-text h2 {
  font-size: 45px;
  letter-spacing: 15px;
}
.name-text h4 {
  font-size: 35px;
  font-weight: 400;
  letter-spacing: 10px;
}
.pre-term {
  font-family: monospace;
  color: white;
  font-size: 1.4em;
  width: 435px;
  text-align: right;
  padding-bottom: 10px;
  padding-top: 5px;
  padding-right: 7px;
}
.terminal-container {
  margin-top: 18px;
  margin-left: 18px;
  background-color: rgba(0,0,0,1);
  height: 175px;
  padding-left: 10px;
  padding-top: 5px;
}
.terminal {
  position: absolute;
  font-family: monospace;
  text-decoration: none;
  color: green;
  font-size: 1.4em;
  width: 205px;
  text-align: left;
  margin-top: 40px;
  background-color: inherit;

}
.cursor {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 0;
  background-color: rgba(0,0,0,1);
  box-sizing: border-box;
  border-left: .5em solid;

  -webkit-animation: typing 10s steps(19, end),
                     blinking 1s step-end infinite;
  animation: typing 10s steps(19, end),
             blinking 1s step-end infinite;
}
@-webkit-keyframes typing {
  from, to { width: 100%; }
  25% { width: 0; }
  50% { width: 0; }
  75% { width: 100%; }
}
@keyframes typing {
  from { width: 100%; }
  to { width: 0; }
}
@keyframes blinking {
  from, to { border-color: transparent }
  50% { border-color: green; }
}
