<div class="flex-layout" fxLayout="column">
  <div class="home-title">
    <h2 fxLayout="column" class="animated fadeInDown" fxLayout="row" fxLayoutAlign="center">Timothy Cluff</h2>
    <div class="divider"></div>
    <h4 fxLayout="column" class="animated bounceInRight">Software Developer</h4>
  </div>
  <div class="home-content" fxLayout="row" fxFlex>

  </div>
  <div class="to-profile" fxLayout="row" fxLayoutAlign="end">
    <button md-raised-button [routerLink]="['/profile']" class="footer animated bounceInUp">Profile
      <i ng-font-set="material-icons" class="material-icons md-36 md-light">keyboard_arrow_right</i>
    </button>
  </div>
</div>

