<div class="flex-layout" fxLayout="column">
  <!-- Title -->
  <div class="home-title">
    <div fxlayout="column" class="terminal-container">
      <div fxlayout="row" fxflexfill class="pre-term">
        timothy.cluff@Portfolio ~/development
      </div>
      <div fxlayout="row" fxflexfill class="terminal">$:Portfolio deploy<span class="cursor"></span>
      </div>
    </div>
    <div fxlayout="column" fxlayoutalign="center center" class="name-text">
      <h2 class="animated fadeInDown" fxLayout="row" fxLayoutAlign="center" fxFlexFill>Timothy Cluff</h2>
      <div class="divider"></div>
      <h4 fxLayout="row" fxFlexFill class="animated bounceInRight" fxLayoutAlign="center">Software Developer</h4>
    </div>
  </div>

  <!-- Content -->
  <div class="home-content" fxLayout="row" fxFlex>

  </div>
</div>

