html, body, app-root {
  height: 100%;
}
.flex-layout {
  height: 100%;
}
.divider {
  width: 40%;
  height: 2px;
  border: 1px solid #212121;
  margin-left: 30%;
  margin-right: 30%;
  background-color: #212121;
}
.title {
  text-align: center;
  height: 250px;
  margin-top: 100px;
}
.title h2 {
  font-size: 45px;
  letter-spacing: 15px;
}
.title h4 {
  font-size: 35px;
  font-weight: 400;
  letter-spacing: 10px;
}
